<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd …">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
        <key>kind</key>
        <string>software-package</string>
        <key>url</key>
        <string>https://github.com</string>
        </dict>
		<dict>
		<key>kind</key>
		<string>display-image</string>
		<key>url</key>
		<string></string>
		</dict>
		<dict>
		<key>kind</key>
		<string>full-size-image</string>
		<key>url</key>
		<string></string>
		</dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.unicode.exe.krish</string>
        <key>bundle-version</key>
        <string>1</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺ͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩ﷽      ؄ ؅ ؆ ؇ ؈ ؉ ؊ ؋ ، ؍ ؎ ؏ ؐ ؑ ؒ ؓ ؔ ؕ ؖ ؗ ؘ ؙ ؚ 𓂁 𓂂 𓂃 𓂄 𓂣 𓂤 𓂥 𓂦 𓂧 𓂨 𓂩 𓂪 𓂫 𓂬𒀞 𒀟 𒀠 𒀡 𒀢 𒀣 𒀤 𒀥 𒀦 𒀧 𒀨 𒀩 𒀪 𒀫💮🈵🈵🈲🈲🈲🈲㎚ ㎛ ㎜ ㎝ ㎞ ㏌
𐃄̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺̺ͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩͩሀ011101000(RESPRINGNOW!)﷽﷽𒀱𒀱𒀱𒀱
؁‱ஹ௸௵꧄.ဪ꧅⸻ก้้้้้้้้้้้้้้้้้้้้ก้้้้้้้้้้้้้้้้้้้้ก้้้้้้้้้้้้้้้้้้้้𒈙𒐫﷽𒌄𒈟𒍼𒁎𒀱𒌧𒅃 𒈓𒍙𒊎𒄡𒅌𒁏𒀰𒐪𒐩𒈙𒐫
ก้้้้้้้้้้้้้้้้้้้้ก้้้้้้้้้้้้้้้้้้้้ก้้้้้้้้้้้้้้้้้้้้ส็็็็็็็็็็็็็็็็็็็็็็็ส็็็็็็็็็็็็็็็็็็็็็็็ส็็็็็็็็็็็็็็็็็็็็็็็͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌'͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌'͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌'͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌'͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌'
͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌͌d̸̟ͤiͤ̍̌ͦͫͩͨ̊ͬͭ̓̂̒̈́̋̽ͯ̊ͤ̂ͤ́̉͋ͥ̒ͫ̀ͥͫͥͨ̇ͨ͒ͯ͗͒̃͛̎̀ͩ̈́͌̾͌͗́̽͂̄͗̑̿̓̑ͣ̓ͦͥ̊͗ͯͮ̊ͤͯ̃̏ͫ̓́͂ͬͫ̀ͥ̉̂̅͗ͩ̽ͦ̒͌̉̓̾̍ͧ̽̋̒͞҉̵̵̴̡̧̡̀͟͢͜͢͝͠͏̷͡҉̶̛̟͔̪̬͉̪̭̺̩̞͚̖̜̱̭̙̩͙̫̩̱͕̣͈͓̝̤̹̥͈̰̦͕͓̻͈̥̤͇̙̻͖͇̜̝̫͚̳̤̘̫͉̺̞̰̘̰̭̟̠̪̹̮̲̺̣͔̠͎͉͇̥̹̦̤͔̹̦͉͉̼̟̪͉͕̠̹͉̬̜̣̱̗͓͞ͅeͮ̈̔̍ͧͧͦ͌ͣ̂̒̅̈ͬ̐ͥ̆͛̒ͫ̿ͤ̔̃͑͒̌ͬ̏ͭͤ̉ͮ͛͑ͣ̿̒ͫ̋͋̀͂̒̅̇̈́̓̄̾ͣͤ͐ͭͦ͐͐ͯ̄ͫͩ̆̈́͗̏ͦͤ͌́̓̅̃̍ͯͩ̅̀̓ͭ̀͒ͭ̔ͨͨ̒͆̏̌̾͆̇̈̚̚҉̨̧͞͡҉̛҉̴̡̡́͜͟͞͞͏̡̲͎̲̩̞̲̠͖̩̻͎̞͔͖̩͚̪̠̠͈̣̟̟͎̳̣͚͉̘͚̥͕͔͙̝̻͙̣̭̫̱̮̭̦̪̬̣̣̯̲͕̟͎̱͓͍̳͚̘͍̰̯͉͙͍̗̖̯̞̗̘̤̦͕͉͕̻̤̞̭̗̳͙̘̙͈̗̗̠͖̼̕͜͠͞ͅͅͅͅ
    
    
</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>